*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

h1{                                         /* h1 solo lo uso para titulo Videografia */
    font-size: 3em;
}

h2{                                         /* h2 solo lo uso para Subtitulos debajo de Videografia */
    background-color: MidnightBlue;       /* Color de fondo */
    color: white;                         /* Color del texto */
    padding: 2px;                           /* Crear un mayor borde */
    font-size: 2em;
}

h3{
    color: #f0f0f0;
    /* border: #b8b8b8 solid 1px; */
    background-color: black;
    opacity: 60%;
}

h1,h2,h3{
    font-family: 'Roboto Slab', serif;      /*Fuente de Fonts.Google*/
    text-align: center;
}

h4{                                         /* h4 solo lo uso para los links de las tablas */
    color: darkblue;
    font-size: 1em;
}

h4 :hover{
    color: cyan;
    background-color: darkblue;
}

a:link, a:visited, a:active {
    text-decoration:none;                 /* Para que los links no aparezcan subrayados */
}

header{                                   /* Defino las propiedades del encabezado */
    background-color: black;
    color: white;
    height: 95px;
}

.nav{                                     /* Defino las propiedades de la Barra de botones */
    font-family: 'Roboto Slab', serif;    /* Fuente de Fonts.Google*/
    font-size: 0.9em;
    background-color: gray;             /* Color de fondo de los botones */
    color: white;                       /* Color del texto de los botones */
    text-decoration: none;                /* Quita el subrayado de los links*/
    padding: 3px;                         /* Crear un mayor borde en los botones */
    border-radius: 5px;                   /* Redondea las esquinas de los botones */
    margin: 3px;                          /* Es la separación entre los botones */    
    margin-top: 8px;
    /* transition: all 0.4s ease-in-out; */
}

.containerNav{                            /* Es el FlexBox para el los botones del Nav */
    display: flex;
}

body{
    background-image: linear-gradient(to top, #64d3f8 0%, #98aae7 100%); /* Color de Fondo de https://webgradients.com/ */
    text-align: justify;
    padding: 0;
    margin: 0;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    clear: both;
    position: fixed; 
    height: 50px;
    bottom: 0;
    width: 100%;
}

input[type=submit]{                         /* Forma del puntero del mouse al pasar por encima de los botones SUBMIT */
    cursor: pointer;
}

input[type=reset]{                          /* Forma del puntero del mouse al pasar por encima de los botones RESET */
    cursor: pointer;
}

input[type=submit]:hover{                   /* Color de los botones SUBMIT al pasar el mouse por encima */
    background-color: gray;
    color: white;
}

input[type=reset]:hover{                    /* Color de los botones RESET al pasar el mouse por encima */
    background-color: black;
    color: white;
}

.container1{                                /* Flexbox Contenedor para VideoContacto.html */
    /* border: 5px solid blue; */
    display: inline-flex;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-content: flex-end;
}

.itemActores{                               /* Flexbox Items del Contenedor en VideoContacto.html */
    width: 33.3333%;
}

.containerActores{                          /* Es el FlexBox de 3 celdas para la pagina actores*/
    text-align: center;
    flex-direction: row;
    display: flex;
}

.itemSucursales{                            /* Flexbox Items del Contenedor en VideoContacto.html */
    width: 25%;
}

.containerSucursales{
    padding: 0;
    margin: 0;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

/* .itemSucursales.item-9,.itemSucursales.item-10,.itemSucursales.item-11,.itemSucursales.item-12{
    grid-template-columns: auto auto auto auto;
} */

.span{
    width: 200px;
}

.Actor1, .Actor2, .Actor3{                  /* Para centrar titulos de Grid Actores */
    text-align: center;
}

.containerGridActores{                      /* Es el GRID para pagina actores 3 columnas x 8 filas */
    background-color: yellowgreen;
    border: 3px solid darkblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
}

.itemGridActor{
    background-color: #bdbdb9;
    border: 1px solid #004edf;
    align-items: right;
}

.containerFlexEstudios{
    text-align: center;
    /* display: grid; */
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    display: flex;
}

.itemFlexEstudios{
    width: 100%;
    align-items: center;
}

.containerGridEstudios{
    background-color: blue;
    border: 3px solid darkblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.itemGridEstudios{
    background-color: #bdbdb9;
    border: 1px solid #004edf;
    align-items: left;
}

.Estudio1, .Estudio2{                       /* Para centrar titulos de Grid Estudios */
    text-align: center;
    /* font-style: italic; */
}

.containerAsociados{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

legend{
    margin: 10px;
}

/* Prueba para anchos de campos formulario Asociados*/
/* .itemAsoc01, .itemAsoc03, .itemAsoc05, .itemAsoc07, .itemAsoc09, .itemAsoc11, .itemAsoc13, .itemAsoc15, .itemAsoc16, .itemAsoc17, .itemAsoc18, .itemAsoc19, .itemAsoc20, .itemAsoc21, .itemAsoc22, .itemAsoc23{ */
/* .itemAsoc{ 
    width: 170px;
    margin: 2px;
} */

@media only screen and (max-width: 600px) {
    header{
        background-color: darkslategrey;
        color: #e0eeff;
        height: auto;
        width: 100%;
    }

    .itemHeader2{
        margin-top: 10%;
        color: #c5ffff;
    }

    h1{                                         /* h1 solo lo uso para titulo Videografia */
        font-size: 2.5em;
    }
    
    h2{                                         /* h2 solo lo uso para Subtitulos debajo de Videografia */
        background-color: MidnightBlue;       /* Color de fondo */
        color: white;                         /* Color del texto */
        padding: 2px;                           /* Crear un mayor borde */
        font-size: 1.5em;
    }
    
    h3{
        font-size: 1em;
    }

    h4{
        color: darkblue;
        font-size: 1em;
    }
    
    h5{
        font-size: 0.9em;
    }

    .nav{                                     /* Defino las propiedades de la Barra de botones */
        margin-top: 5px;
    }
    .containerActores{                              /*Es el FlexBox de 3 celdas para la pagina actores*/
        flex-direction: column;                     /*Lo realineo en columnas*/
        align-items: center;
    }
        
    .containerGridActores{                          /*Es el GRID para pagina actores 3 columnas x 8 filas*/
        background-color: yellowgreen;
        border: 2px solid rgb(51, 0, 56);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .itemGridActor{                                 /* Formato de las celdas del GRID Actores */
        background-color: #bdbdb9;
        border: 1px solid #003cff;
    }
    
    .containerFlexEstudios{
        flex-direction: column;
    }

    .containerSucursales{
        flex-direction: column;                     /* Para que los mapas se pongan en columna */
    }

    /* .containerSucursales{
        padding: 0;
        margin: 0;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        width: 50%;
    } */

    .itemSucursales{                                  /*Flexbox Items del Contenedor en VideoContacto.html*/
        width: 100%;
    }

    .itemActores{                                  /*Flexbox Items del Contenedor en VideoContacto.html*/
        width: auto;
    }

    img{
        width: 120px;
        height: 120px;
        align-items: center;
    }

    .carousel-item img{                             /* Fotos Carrousel */
        height: 320px;
    }
/*
    footer{
        position: relative;                          Para desanclar el Footer en pantallas angostas
    }
 */   
    .containerAsociados{
        display: flex;
        flex-direction: column;
    }

    /* .itemSucursales.item-9,.itemSucursales.item-10,.itemSucursales.item-11,.itemSucursales.item-12{
        width: 120px;
    } */
  }


    @media only screen and (max-width: 400px) {
        header{
            background-color: #34a1a1;
            color: yellow;
            height: auto;
            width: 100%;
        }
        
        .containerHeader{                           /* Es el FlexBox para el Header, para ordenar Titulo y Nav */
            display: flex;
        }

        h1{                                         /* h1 solo lo uso para titulo Videografia */
            font-size: 2em;
            text-align: center;
        }
        
        h2{                                         /* h2 solo lo uso para Subtitulos debajo de Videografia */
            background-color: MidnightBlue;       /* Color de fondo */
            color: white;                         /* Color del texto */
            padding: 2px;                           /* Crear un mayor borde  */
            font-size: 1em;
        }
        
        h3{
            font-size: 0.75em;
        }

        h4{
            color: darkblue;
            font-size: 1em;
        }

        h5{
            font-size: 0.8em;
        }

        .containerNav{                      /* Es el FlexBox para el los botones del Nav */
            display: grid;
        }

        .nav{                               /* Defino las propiedades de la Barra de navegación en "max-width: 400px" */
            font-size: 0.7em;
            text-decoration: none;          /* Quita el subrayado de los links */
            padding: 0px;                   /* Crear un mayor borde en los botones */
            border-radius: 3px;             /* Redondea las esquinas de los botones */
            margin: 1px;                    /* Es la separación entre los botones  */
        }

        img{
            width: 60px;
            height: 60px;
            align-items: center;
        }

        .carousel-item img{                 /*Fotos Carrousel*/
            height: 240px;
        }
}
